:root {
  --primary: #255ed6;
  --font: #252424;
  --white: #fffffff5;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--white);
  color: var(--font);
}

/*navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  border-bottom: 1px solid var(--primary);
  font-weight: bold;
  font-size: 16px;
  height: 70px;
  width: 100%;
}

.navbar-logo {
  align-items: flex-start;
}

.navbar .navbar-nav a {
  color: var(--font);
  display: inline-block;
  font-size: 16px;
  margin: 16px 16px;
}
.navbar .navbar-nav a:hover {
  color: var(--primary);
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 8px;
  border-bottom: 1.6px solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linier;
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

/* artikel */
/* search bar */
.search {
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

/* topik terkini */
.topic {
  margin-right: 10px;
}

/* artikel terpopuler */
.top {
  text-decoration: none;
}
.other {
  text-decoration: none;
}
#otherArticles {
  display: flex;
  flex-wrap: wrap;
}
#otherArticles .card {
  height: 69px;
}
#otherArticles .card-title {
  font-size: 16px;
  line-height: 1.2;
  height: 38px;
  overflow: auto;
  text-overflow: ellipsis;
}

/* artikel terbaru */
#article-card {
  margin: 10px;
  max-width: 260px;
}
#article-card .card-title {
  font-weight: bold;
}
#article-card img {
  height: 150px;
  object-fit: cover;
}
#article-card .card-body {
  height: 200px;
  padding: 15px;
  font-size: smaller;
  overflow: auto;
  text-overflow: ellipsis;
}
#load-more {
  margin-top: 20px;
}

.footer {
  margin-top: 32px;
  background-color: #284450;
  color: white;
  width: 100%;
  bottom: 0;
  flex-shrink: 0;
}
.footertele {
  display: flex;
  padding: 48px 7%;
  justify-content: space-around;
}

.label-footer h6 {
  color: white;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
}
.icons-footer {
  margin-top: 16px;
}
.icons-footer .iconsf {
  color: white;
}
.sitemap-footer {
  font-size: 24px;
  font-weight: 700;
}
.sitemap-footer .lkf {
  display: block;
  font-size: 14px;
  color: white;
  font-weight: 300;
  margin-top: 10px;
  text-decoration: none;
}
.akhirfooter {
  margin-top: 10px;
  display: flex;
  background-color: #1c3641;
  justify-content: space-around;
  border-top: 1px solid #ffffff;
  padding: 22px 7%;
}

/* media query */
@media (max-width: 1366px) {
  html {
    font-size: 100%;
  }
}

/* Tablet */
@media (max-width: 767px) {
  html {
    font-size: 75%;
  }
  .navbar-collapse {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;
    overflow-y: auto;
    background-color: #ffffff;
    padding: 16px;
    display: none;
  }
  .navbar-collapse.show {
    display: block;
  }
  #otherArticles .card-title {
    overflow: visible;
  }
}

/* HP */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .navbarNav {
    display: inline-block;
  }
}
