@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

/* Hero Section */
#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #255ED6;
  margin: 50px 0;
  padding: 40px;
}

#hero #hero-greeting h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
}

#hero #hero-greeting p {
  color: #fff;
  margin-bottom: 5px;
}

#hero-button button {
  color: #1890FF;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
}

#hero-button button:hover {
  background-color: #fff;
}

/* Spesialisasi Dokter */
#spesialisasi {
  padding: 10px 0;
}

#spesialisasi h2 {
  font-size: 24px; 
  font-weight: 800; 
  padding: 20px;
}

#spesialisasi .row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.spesialisasi-card {
  flex: 1;
  text-align: center; 
  padding-left: 20px;
}

.spesialisasi-card img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px; 
}

.spesialisasi-card p {
  font-size: 16px;
  font-weight: 400; 
}

.spesialisasi-card img:hover {
  cursor: pointer;
}

/* Media Query */
@media only screen and (max-width: 768px) {
  #hero {
    flex-direction: column;
    text-align: center;
    padding: 30px;
  }
  
  #hero #hero-greeting h1 {
    font-size: 24px;
  }
  
  #hero #hero-greeting p {
    font-size: 18px;
  }
  
  #hero-button button {
    font-size: 16px;
    margin-top: 20px;
  }

  #spesialisasi .row {
    flex-direction: column;
    align-items: center;
  }
  
  .spesialisasi-card {
    width: 80%;
  }
}

@media only screen and (max-width: 576px) {
  #hero {
    flex-direction: column;
    text-align: center;
    padding: 30px;
  }
  
  #hero #hero-greeting h1 {
    font-size: 24px;
  }
  
  #hero #hero-greeting p {
    font-size: 18px;
  }
  
  #hero-button button {
    font-size: 16px;
    margin-top: 20px;
  }
}